PORT=8000
MONGODB_URI=mongodb+srv://ssoberoi7705935507_db_user:<db_password>@cluster0.3zor6vl.mongodb.net/?appName=Cluster0

CORS_ORIGIN=*

ACCESS_TOKEN_SECRET=your_access_token_secret
ACCESS_TOKEN_EXPIRATION=1d  
REFRESH_TOKEN_SECRET=your_refresh_token_secret
REFRESH_TOKEN_EXPIRATION=10d

CLOUDINARY_CLOUD_NAME=dcqvlvmee
CLOUDINARY_API_KEY=483344634879694  
CLOUDINARY_API_SECRET=mihR1dz7F383t072Uxym6dh_4HI


# 1- user.controller.js
# 2- video.controller.js
# 3- playlist.controller.js
# 4- comment.controller.js
# 5- like.controller.js
# 6- subscription.controller.js
# 7- dashboard.controller.js
# 8- tweet.controller.js (if your project includes a Twitter-like feature)
# 9- healthcheck.controller.js (usually a very small endpoint that can be done anytime)